In [2]:
import ali
import mari
import shaday
import virna
import victor
import chad
import rosemary
import ess
import rosana
import brenda
import kosta
import marcus
import kristian
import daphney
import diana
import sol
import adam
import chrissy
import angelica
import tim
import aaron
import vadim
import monica
import dennis

In [3]:
ali=ali.ali()
mari=mari.mari()
shaday=shaday.shaday()
virna=virna.virna()
victor=victor.victor()
chad=chad.chad()
rosemary=rosemary.rosemary()
ess=ess.ess()
rosana=rosana.rosana()
brenda=brenda.brenda()
kosta=kosta.kosta()
marcus=marcus.marcus()
kristian=kristian.kristian()
daphney=daphney.daphney()
diana=diana.diana()
sol=sol.sol()
adam=adam.adam()
chrissy=chrissy.chrissy()
angelica=angelica.angelica()
tim=tim.tim()
aaron=aaron.aaron()

In [ ]:
vadim=vadim.vadim()
monica=monica.monica()
dennis=dennis.dennis()

In [4]:
number=10
print ("The starting number is ", number)

In [ ]:
number=dennis.update(number)
print ("Dennis changed the number to ", number)

number=monica.update(number)
print ("Monica changed the number to ", number)

number=vadim.update(number)
print ("Vadim changed the number to ", number)

In [5]:
number=ali.update(number)
print ("Ali changed the number to ", number)

number=mari.update(number)
print ("Mari changed the number to ", number)

number=shaday.update(number)
print ("Shaday changed the number to ", number)

number=virna.update(number)
print ("Virna changed the number to ", number)

number=victor.update(number)
print ("Victor changed the number to ", number)

number=chad.update(number)
print ("Chad changed the number to ", number)

number=rosemary.update(number)
print ("Rosemary changed the number to ", number)

number=ess.update(number)
print ("Ess changed the number to ", number)

number=rosana.update(number)
print ("Rosana changed the number to ", number)

number=brenda.update(number)
print ("Brenda changed the number to ", number)

number=kosta.update(number)
print ("Kosta changed the number to ", number)

number=marcus.update(number)
print ("Marcus changed the number to ", number)

number=kristian.update(number)
print ("Kristian changed the number to ", number)

number=daphney.update(number)
print ("Daphney changed the number to ", number)

number=diana.update(number)
print ("Diana changed the number to ", number)

number=sol.update(number)
print ("Sol changed the number to ", number)

number=adam.update(number)
print ("Adam changed the number to ", number)

number=chrissy.update(number)
print ("Chrissy changed the number to ", number)

number=angelica.update(number)
print ("Angelica changed the number to ", number)

number=tim.update(number)
print ("Tim changed the number to ", number)

number=aaron.update(number)
print ("Aaron changed the number to ", number)

Ali changed the number to  10
Mari changed the number to  10
Shaday changed the number to  10
Virna changed the number to  10
Victor changed the number to  10
Chad changed the number to  10
Rosemary changed the number to  10
Ess changed the number to  10
Rosana changed the number to  10
Brenda changed the number to  10
Kosta changed the number to  10
Marcus changed the number to  10
Kristian changed the number to  10
Daphney changed the number to  10
Diana changed the number to  10
Sol changed the number to  10
Adam changed the number to  10
Chrissy changed the number to  10
Angelica changed the number to  10
Tim changed the number to  10
Aaron changed the number to  10

10